.results__title,
.results__topic__title {
  color: var(--navy-blue);
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-radius: 0.75rem;
  margin-bottom: 1rem;
  background-color: var(--white);
}

.results__topic {
  display: flex;
  gap: 1rem;
}

.score {
  color: var(--navy-blue);
}

.score__total {
  color: var(--grey);
}
