.welcome,
.welcome__message,
.topics,
.topic__card {
  display: flex;
}

.welcome,
.welcome__message,
.topics {
  flex-direction: column;
}

.welcome {
  justify-content: center;
}

.welcome__message {
  margin-bottom: 2.5rem;
}

.welcome__title,
.topic__title {
  color: var(--navy-blue);
}

.welcome__message,
.topics {
  width: 100%;
}

.topics {
  gap: 0.75rem;
}

.topic__card {
  gap: 1rem;
  padding: 0.75rem;
  align-items: center;
  cursor: pointer;
  border-radius: 0.75rem;
  background-color: var(--white);
}

.welcome__helper {
  color: var(--grey);
}
