/* Global Styles */

/* Color Variables */

:root {
  --purple: #a729f5;
  --navy-blue: #313e51;
  --grey-blue: #3b4d66;
  --grey: #626c7f;
  --light-blue: #abc1e1;
  --light-grey: #f4f6fa;
  --app-bg: #ffffff;
  --white: #ffffff;
  --green: #26d782;
  --red: #ee5454;
  --html: #fff1e9;
  --css: #e0fdef;
  --javascript: #ebf0ff;
  --accessibility: #f6e7ff;
  --btn-hover: #d394fa;

  /* Background image variables */

  --bg-desktop: url("./assets/images/pattern-background-desktop-light.svg");
  --bg-tablet: url("./assets/images/pattern-background-tablet-light.svg");
  --bg-mobile: url("./assets/images/pattern-background-mobile-light.svg");

  /* Box shadow */

  --box-shadow: 0px 16px 40px rgba(143, 160, 193, 0.14);
}

.dark-mode {
  --navy-blue: #ffffff;
  --grey-blue: #ffffff;
  --grey: #ffffff;
  --white: #3b4d66;
  --app-bg: #313e51;

  /* Dark mode background images */

  --bg-desktop: url("./assets/images/pattern-background-desktop-dark.svg");
  --bg-tablet: url("./assets/images/pattern-background-tablet-dark.svg");
  --bg-mobile: url("./assets/images/pattern-background-mobile-dark.svg");

  --box-shadow: none;
}

/* Fluid Typography */

@font-face {
  font-family: "Rubik";
  src: url(./assets/fonts/Rubik-VariableFont_wght.ttf) format("truetype");
}

@font-face {
  font-family: "Rubik Italic";
  src: url(./assets/fonts/Rubik-Italic-VariableFont_wght.ttf) format("truetype");
  font-style: italic;
}

.display,
.heading--lg--bold,
.heading--lg,
.heading--m,
.heading--s,
.body--m {
  font-family: "Rubik", sans-serif;
}

.display,
.heading--lg--bold,
.heading--m,
.heading--s {
  font-weight: 500;
}

.display,
.heading--lg--bold,
.heading--lg,
.heading--m,
.heading--s {
  line-height: 100%;
}

.display {
  font-size: 2.5rem;
  font-size: clamp(2.5rem, 1.2rem + 6.5vw, 9rem);
}

.heading--lg--bold,
.heading--lg {
  font-size: 2rem;
  font-size: clamp(2rem, 1.6rem + 2vw, 4rem);
}

.heading--lg,
.body--m,
.body--s {
  font-weight: 400;
}

.heading--m {
  font-size: 1.75rem;
  font-size: clamp(1.75rem, 1.65rem + 0.5vw, 2.25rem);
}

.heading--s {
  font-size: 1.125rem;
  font-size: clamp(1.125rem, 1rem + 0.625vw, 1.75rem);
}

.body--m,
.body--s {
  font-size: 1rem;
  line-height: 150%;
}

.body--s {
  font-family: "Rubik Italic";
}

/* Container */

body {
  background-image: var(--bg-mobile);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--app-bg);
  padding: 0 1.25rem;
  margin: 0;
}

main {
  padding: 2rem 0rem;
}

/* Topic background colors */

.HTML,
.CSS,
.JavaScript,
.Accessibility {
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.HTML {
  background-color: var(--html);
}

.CSS {
  background-color: var(--css);
}

.JavaScript {
  background-color: var(--javascript);
}

.Accessibility {
  background-color: var(--accessibility);
}

/* Button Styles */

.btn {
  background-color: var(--purple);
  color: #ffffff;
  width: 100%;
  text-align: center;
  padding: 0.75rem;
  border-radius: 0.75rem;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--btn-hover);
}

/* Drop Shadow */

.shadow {
  box-shadow: var(--box-shadow);
}

/* Media Queries */

/* Tablet */

@media only screen and (min-width: 768px) {
  body {
    padding: 0 4rem;
    background-image: var(--bg-tablet);
  }
  .topics {
    gap: 1.5rem;
  }
  .welcome-title {
    margin-bottom: 1rem;
  }
  .error--message {
    margin-top: 2rem;
  }
  .btn,
  .btn--end {
    padding: 2rem;
  }
}

/* Desktop */

@media only screen and (min-width: 1162px) {
  .container {
    margin: 0 auto;
    max-width: 1160px;
  }
  body {
    padding: 0 8.75rem;
    background-image: var(--bg-desktop);
  }
  .welcome {
    flex-direction: row;
  }
  .welcome,
  .quiz {
    gap: 8rem;
  }
  .welcome__title {
    margin-top: 0;
  }
  .quiz {
    display: flex;
  }
  .quiz__questions,
  .quiz__answers {
    width: 100%;
  }
  .header {
    height: 7.5rem;
  }
}
