/* Global Styles */

/* Fluid Typography */

@font-face {
  font-family: "Rubik";
  src: url(./assets/fonts/Rubik-VariableFont_wght.ttf) format("truetype");
}

@font-face {
  font-family: "Rubik Italic";
  src: url(./assets/fonts/Rubik-Italic-VariableFont_wght.ttf) format("truetype");
  font-style: italic;
}

.display {
  font-family: "Rubik", sans-serif;
  font-size: 2.5rem;
  font-size: clamp(2.5rem, 1.2rem + 6.5vw, 9rem);
  font-weight: 500;
  line-height: 100%;
}

.heading--lg--bold {
  font-family: "Rubik", sans-serif;
  font-size: 2rem;
  font-size: clamp(2rem, 1.6rem + 2vw, 4rem);
  font-weight: 500;
  line-height: 100%;
}

.heading--lg {
  font-family: "Rubik", sans-serif;
  font-size: 2rem;
  font-size: clamp(2rem, 1.6rem + 2vw, 4rem);
  font-weight: 400;
  line-height: 100%;
}

.heading--m {
  font-family: "Rubik", sans-serif;
  font-size: 1.75rem;
  font-size: clamp(1.75rem, 1.65rem + 0.5vw, 2.25rem);
  font-weight: 500;
  line-height: 100%;
}

.heading--s {
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
  font-size: clamp(1.125rem, 1rem + 0.625vw, 1.75rem);
  font-weight: 500;
  line-height: 100%;
}

.body--m {
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
}

.body--s {
  font-family: "Rubik Italic";
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
}

/* Container */

body {
  padding: 0 1.25rem;
  margin: 0;
}

main {
  padding: 2rem 0rem;
}

/* Button Styles */
.btn,
.btn--end {
  width: 100%;
  text-align: center;
  padding: 0.75rem;
  border-radius: 0.75rem;
  border: none;
}

.btn--end {
  width: auto;
}

.btn--end > a {
  text-decoration: none;
}

/* Drop Shadows */
.shadow {
  box-shadow: 0px 16px 40px rgba(143, 160, 193, 0.14);
}

/* Media Queries */

@media only screen and (min-width: 768px) {
  body {
    padding: 0 4rem;
  }
  .topics {
    gap: 1.5rem;
  }
  .welcome-title {
    margin-bottom: 1rem;
  }
  .error--message {
    margin-top: 2rem;
  }
  .btn {
    padding: 2rem;
  }
}

@media only screen and (min-width: 1162px) {
  .container {
    margin: 0 auto;
    max-width: 1160px;
  }
  body {
    padding: 0 8.75rem;
  }
  .welcome {
    flex-direction: row;
    gap: 8rem;
  }
  .welcome__title {
    margin-top: 0;
  }
  .quiz {
    display: flex;
    gap: 8rem;
  }
  .quiz__questions {
    width: 100%;
  }
  .quiz__answers {
    width: 100%;
  }
  .header {
    height: 7.5rem;
  }
  main {
    margin-top: 4rem;
  }
}
